In [1]:
import pandas as pd
import numpy as np

In [17]:
data = pd.read_csv('processed-data-kejadian-kebakaran-2013.csv', encoding = "ISO-8859-1")
data.head(5)

,No,Tanggal,Keterangan JKB,Sumber Informasi,Waktu Informasi,Alamat Kejadian,RT,RW,Kelurahan,Kecamatan,...,Objek BP,Objek BUP,Objek BI,Objek KD,Objek LN,Jumlah KK,Jumlah Jiwa,Taksiran Kerugian,Kronologis Kejadian,Keterangan
0,1,01/Januari/2013 (Selasa),Bencana Kebakaran,Petugas Pemadam,00:05,Jl. Angin Puyuh No. 76C,5,11,Semper Barat,Cilincing,...,1,-,-,-,-,2,4,300000000,Api berasal dari ledakan kembang api yang meng...,NaN
1,2,01/Januari/2013 (Selasa),Bencana Kebakaran,Masyarakat,05:00,Jl. H. Alit,8,3,Pekayon,Pasar Rebo,...,1,-,-,-,-,1,3,20000000,Api Berasal dari ledakan stop kontak yang kemu...,NaN
2,3,01/Januari/2013 (Selasa),Bencana Kebakaran,Masyarakat,10:00,Jl. Indra Loka VI,8,6,Wijaya Kusuma,Grogol Petamburan,...,20,-,-,-,-,20,80,750000000,"Diduga akibat arus pendek, timbul percikan api...",NaN
3,4,01/Januari/2013 (Selasa),Bencana Kebakaran,Petugas Instansi Lain,00:00,Jl. Jiung No.49 Gg. N,1,3,Utan Panjang,Kemayoran,...,3,-,-,-,-,3,12,200000000,Diduga berasal dari konsleting listrik yang be...,NaN
4,5,02/Januari/2013 (Rabu),Bencana Kebakaran,Petugas Pemadam,19:30,Jln. Meruya Raya,9,7,Meruya Selatan,Kembangan,...,3,-,-,1,-,0,0,600000000,Diduga akibat warga mainan kembang api di lemp...,NaN

In [18]:
#cek dimensi
data.shape

(1592, 44)

In [19]:
#cek tipe data
data.dtypes

No                                 int64
Tanggal                           object
Keterangan JKB                    object
Sumber Informasi                  object
Waktu Informasi                   object
Alamat Kejadian                   object
 RT                               object
 RW                               object
Kelurahan                         object
Kecamatan                         object
Wilayah                           object
Objek Kejadian Awal               object
Kode Objek Bencana                object
Kategori Objek Bencana            object
Objek Kejadian Lainnya            object
Kode Objek Bencana Lainnya        object
Kategori Objek Bencana Lainnya    object
ID Bang                           object
Jenis Bangunan                    object
ID Sebab                          object
Sebab Kejadian                    object
Keterangan Sebab Kejadian         object
Waktu Respon                      object
Menit Respon                      object
JUMLAH UNIT                       object
JUMLAH SDM                         int64
Lama Operasi -  Hari               int64
Lama Operasi - Jam                 int64
Lama Operasi -  Menit              int64
Luas Area Kejadian                object
Petugas Mati                      object
Petugas  Luka                     object
Masyarakat Mati                   object
Masyarakat Luka                   object
Objek BP                          object
Objek BUP                         object
Objek BI                          object
Objek KD                          object
Objek LN                          object
Jumlah KK                         object
Jumlah Jiwa                       object
 Taksiran Kerugian                object
Kronologis Kejadian               object
Keterangan                        object
dtype: object

In [20]:
#cek kolom yang terdapat missing value
data.isna().any()

No                                False
Tanggal                           False
Keterangan JKB                    False
Sumber Informasi                   True
Waktu Informasi                   False
Alamat Kejadian                   False
 RT                                True
 RW                                True
Kelurahan                         False
Kecamatan                         False
Wilayah                           False
Objek Kejadian Awal               False
Kode Objek Bencana                 True
Kategori Objek Bencana             True
Objek Kejadian Lainnya             True
Kode Objek Bencana Lainnya         True
Kategori Objek Bencana Lainnya     True
ID Bang                            True
Jenis Bangunan                     True
ID Sebab                           True
Sebab Kejadian                     True
Keterangan Sebab Kejadian          True
Waktu Respon                       True
Menit Respon                       True
JUMLAH UNIT                       False
JUMLAH SDM                        False
Lama Operasi -  Hari              False
Lama Operasi - Jam                False
Lama Operasi -  Menit             False
Luas Area Kejadian                 True
Petugas Mati                       True
Petugas  Luka                     False
Masyarakat Mati                   False
Masyarakat Luka                   False
Objek BP                           True
Objek BUP                          True
Objek BI                           True
Objek KD                           True
Objek LN                           True
Jumlah KK                          True
Jumlah Jiwa                        True
 Taksiran Kerugian                 True
Kronologis Kejadian                True
Keterangan                         True
dtype: bool

In [22]:
#mencari info dari tipe data tiap atribut
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1592 entries, 0 to 1591
Data columns (total 44 columns):
No                                1592 non-null int64
Tanggal                           1592 non-null object
Keterangan JKB                    1592 non-null object
Sumber Informasi                  1590 non-null object
Waktu Informasi                   1592 non-null object
Alamat Kejadian                   1592 non-null object
 RT                               1095 non-null object
 RW                               1112 non-null object
Kelurahan                         1592 non-null object
Kecamatan                         1592 non-null object
Wilayah                           1592 non-null object
Objek Kejadian Awal               1592 non-null object
Kode Objek Bencana                1591 non-null object
Kategori Objek Bencana            1591 non-null object
Objek Kejadian Lainnya            70 non-null object
Kode Objek Bencana Lainnya        78 non-null object
Kategori Objek Bencana Lainnya    78 non-null object
ID Bang                           752 non-null object
Jenis Bangunan                    752 non-null object
ID Sebab                          1587 non-null object
Sebab Kejadian                    1588 non-null object
Keterangan Sebab Kejadian         1575 non-null object
Waktu Respon                      1590 non-null object
Menit Respon                      1590 non-null object
JUMLAH UNIT                       1592 non-null object
JUMLAH SDM                        1592 non-null int64
Lama Operasi -  Hari              1592 non-null int64
Lama Operasi - Jam                1592 non-null int64
Lama Operasi -  Menit             1592 non-null int64
Luas Area Kejadian                916 non-null object
Petugas Mati                      1591 non-null object
Petugas  Luka                     1592 non-null object
Masyarakat Mati                   1592 non-null object
Masyarakat Luka                   1592 non-null object
Objek BP                          1579 non-null object
Objek BUP                         1580 non-null object
Objek BI                          1573 non-null object
Objek KD                          1571 non-null object
Objek LN                          1573 non-null object
Jumlah KK                         1365 non-null object
Jumlah Jiwa                       1366 non-null object
 Taksiran Kerugian                1516 non-null object
Kronologis Kejadian               1581 non-null object
Keterangan                        537 non-null object
dtypes: int64(5), object(39)
memory usage: 547.3+ KB

In [29]:
#descriptive analyst untuk data yang numerical
data.describe()

,JUMLAH SDM,Lama Operasi - Hari,Lama Operasi - Jam,Lama Operasi - Menit
count,1592.000000,1592.000000,1592.000000,1.592000e+03
mean,30.206030,-25.911432,2.402638,-3.730476e+04
std,37.362347,1034.765827,3.675467,1.490063e+06
min,0.000000,-41287.000000,0.000000,-5.945328e+07
25%,5.000000,0.000000,0.000000,5.000000e+00
50%,12.000000,0.000000,0.500000,2.000000e+01
75%,40.750000,0.000000,3.000000,3.500000e+01
max,254.000000,15.000000,23.000000,1.157000e+04

In [31]:
data['No'] = str(data['No'])
data['JUMLAH UNIT'] = str(data['JUMLAH UNIT'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1592 entries, 0 to 1591
Data columns (total 44 columns):
No                                1592 non-null object
Tanggal                           1592 non-null object
Keterangan JKB                    1592 non-null object
Sumber Informasi                  1590 non-null object
Waktu Informasi                   1592 non-null object
Alamat Kejadian                   1592 non-null object
 RT                               1095 non-null object
 RW                               1112 non-null object
Kelurahan                         1592 non-null object
Kecamatan                         1592 non-null object
Wilayah                           1592 non-null object
Objek Kejadian Awal               1592 non-null object
Kode Objek Bencana                1591 non-null object
Kategori Objek Bencana            1591 non-null object
Objek Kejadian Lainnya            70 non-null object
Kode Objek Bencana Lainnya        78 non-null object
Kategori Objek Bencana Lainnya    78 non-null object
ID Bang                           752 non-null object
Jenis Bangunan                    752 non-null object
ID Sebab                          1587 non-null object
Sebab Kejadian                    1588 non-null object
Keterangan Sebab Kejadian         1575 non-null object
Waktu Respon                      1590 non-null object
Menit Respon                      1590 non-null object
JUMLAH UNIT                       1592 non-null object
JUMLAH SDM                        1592 non-null int64
Lama Operasi -  Hari              1592 non-null int64
Lama Operasi - Jam                1592 non-null int64
Lama Operasi -  Menit             1592 non-null int64
Luas Area Kejadian                916 non-null object
Petugas Mati                      1591 non-null object
Petugas  Luka                     1592 non-null object
Masyarakat Mati                   1592 non-null object
Masyarakat Luka                   1592 non-null object
Objek BP                          1579 non-null object
Objek BUP                         1580 non-null object
Objek BI                          1573 non-null object
Objek KD                          1571 non-null object
Objek LN                          1573 non-null object
Jumlah KK                         1365 non-null object
Jumlah Jiwa                       1366 non-null object
 Taksiran Kerugian                1516 non-null object
Kronologis Kejadian               1581 non-null object
Keterangan                        537 non-null object
dtypes: int64(4), object(40)
memory usage: 547.3+ KB

In [ ]:
grouped = data.groupby(['Survived', 'Pclass'])