In [482]:
# Created by Stezar
import pandas as pd
import numpy as np

In [380]:
pets1 = pd.read_excel("Pets1.xlsx")
pets2 = pd.read_excel("Pets2.xlsx")
owners = pd.read_csv("Owners.csv")

In [371]:
# pets1 = pets1.set_index("PetID")
# pets2 = pets2.set_index("PetID")
# owners = owners.set_index("OwnerID")

In [381]:
pets = pd.concat([pets1,pets2])

In [382]:
print('Pets Shape', pets.shape)
print('Owners Shape', owners.shape)

Pets Shape (105, 6)
Owners Shape (89, 5)

In [404]:
print('Pets NA')
print(pets.isnull().sum())

Pets NA
PetID      0
Name       0
Kind       0
Gender     0
Age        0
OwnerID    0
dtype: int64

In [375]:
print('Owners NA')
print(owners.isnull().sum())

Owners NA
OwnerID    0
Name       0
Surname    0
State      0
ZipCode    0
dtype: int64

In [384]:
owners.info()
len(owners.OwnerID.unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 5 columns):
OwnerID    89 non-null int64
Name       89 non-null object
Surname    89 non-null object
State      89 non-null object
ZipCode    89 non-null int64
dtypes: int64(2), object(3)
memory usage: 3.6+ KB

89

In [377]:
pets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 54
Data columns (total 6 columns):
PetID      105 non-null object
Name       105 non-null object
Kind       105 non-null object
Gender     86 non-null object
Age        79 non-null float64
OwnerID    105 non-null int64
dtypes: float64(1), int64(1), object(4)
memory usage: 5.7+ KB

In [386]:
pets.Gender = np.where(pets['Kind'] == "Dog", pets.Gender.fillna('male'), pets.Gender)
pets.Gender = np.where(pets['Kind'] == "Cat", pets.Gender.fillna('female'), pets.Gender)
pets.Gender = np.where(pets['Kind'] == "Parrot", pets.Gender.fillna('male'), pets.Gender)
# pets

      PetID         Name    Kind  Gender   Age  OwnerID
0   J6-8562      Blackie     Dog    male  11.0     5168
1   Q0-2001       Roomba     Cat    male   9.0     5508
2   M0-2904        Simba     Cat    male   1.0     3086
3   R3-7551       Keller  Parrot  female   2.0     7908
4   P2-7342      Cuddles     Dog    male  13.0     4378
5   X0-8765      Vuitton  Parrot  female  11.0     7581
6   Z4-5652        Priya     Cat  female   7.0     7343
7   Z4-4045        Simba     Cat    male   NaN     2700
8   M8-7852       Cookie     Cat  female   8.0     7606
9   J2-3320   Heisenberg     Dog    male   3.0     1319
10  T2-2142        Stowe     Cat  female  15.0     1132
11  U4-9376        Scout     Dog  female   NaN     7846
12  H8-1429         Lily     Dog  female   NaN     7846
13  H8-1429         Lily     Dog  female   3.0     7846
14  H8-1429         Lily     Dog  female   3.0     7846
15  X8-9212       Danger     Dog    male   NaN     3661
16  G4-8096       Danger     Dog    male   9.0     9037
17  G4-8096       Danger     Dog    male   9.0     9037
18  S4-9578      Scooter     Dog    male   9.0     9850
19  H8-8856       Bandit  Parrot    male   NaN     6102
20  F6-5391       Cookie     Cat  female   NaN     5508
21  J0-7893     Crockett     Dog    male  12.0     1334
22  Q0-3593       Oakley  Parrot  female   4.0     4989
23  O8-2501       Bandit  Parrot    male   5.0     1899
24  T0-5705      Biscuit     Dog  female   5.0     5833
25  Q5-5872          Taz     Dog    male   NaN     2103
26  Z6-3226        Simba     Cat    male  11.0     4793
27  U4-5113        Tiger     Cat    male  12.0     7772
28  X8-8611  Schwarzkopf     Dog    male   4.0     6731
29  P0-1725         Lily     Dog  female   NaN     2419
..      ...          ...     ...     ...   ...      ...
25  T0-3277      Humbert     Cat    male   NaN     8133
26  V5-2342         Jake     Dog    male   8.0     9039
27  P9-3625      Cuddles     Dog    male  14.0     7579
28  H2-8586     Antigone     Cat  female   8.0     7663
29  P7-2443        Rumba     Cat    male  10.0     7219
30  G6-6501         Jake     Cat    male   2.0     3089
31  K4-5012      Natacha  Parrot    male  11.0     2755
32  J2-4382       Dexter  Parrot    male   NaN     7261
33  G9-0817        Kashi     Cat    male   5.0     2722
34  K0-8177        Bruce     Dog    male  12.0     2809
35  U2-7207        Daisy     Dog  female   6.0     7023
36  S4-2254       Draper     Cat    male   NaN     8619
37  P1-2578        Tiger     Cat    male  14.0     3034
38  V7-6771        Daisy     Dog  female   NaN     3245
39  Q8-3145       Peanut     Dog    male  13.0     5796
40  L4-4205        Rumba     Cat    male   5.0     1312
41  S4-1063        Bruce     Dog    male   0.0     3691
42  L2-1834     Collette     Dog  female   4.0     1306
43  L8-0046        Rumba     Cat    male   7.0     9828
44  U6-4890      Blackie     Dog    male   6.0     1546
45  X6-4876       Brandy     Cat  female   3.0     6406
46  X6-4876       Brandy     Cat  female   NaN     6406
47  X6-4876       Brandy     Cat  female   3.0     6406
48  F1-1855       Bandit  Parrot    male   2.0     9604
49  Z8-4419      Scooter     Dog    male   3.0     4464
50  U8-6473      Biscuit     Dog    male   3.0     1070
51  I5-4893       Cookie     Cat  female   NaN     7340
52  Q8-0954      Lakshmi     Cat  female   7.0     9385
53  N0-9539      Swiffer     Cat    male  14.0     9365
54  S5-5938          Taz     Dog    male   6.0     9427

[105 rows x 6 columns]

In [403]:
mean_age = pets.groupby(['Kind', 'Gender'])['Age'].mean()
mean_age

Kind    Gender
Cat     female    7.800000
        male      8.333333
Dog     female    6.470588
        male      7.535714
Parrot  female    6.000000
        male      6.400000
Name: Age, dtype: float64

In [400]:
pets.Age = np.where((pets['Kind'] == "Dog") & (pets['Gender'] == "male"), pets.Age.fillna(value=mean_age['Dog']['male']), pets.Age)
pets.Age = np.where((pets['Kind'] == "Dog") & (pets['Gender'] == "female"), pets.Age.fillna(value=mean_age['Dog']['female']), pets.Age)
pets.Age = np.where((pets['Kind'] == "Cat") & (pets['Gender'] == "male"), pets.Age.fillna(value=mean_age['Cat']['male']), pets.Age)
pets.Age = np.where((pets['Kind'] == "Cat") & (pets['Gender'] == "female"), pets.Age.fillna(value=mean_age['Cat']['female']), pets.Age)
pets.Age = np.where((pets['Kind'] == "Parrot") & (pets['Gender'] == "male"), pets.Age.fillna(value=mean_age['Parrot']['male']), pets.Age)
pets.Age = np.where((pets['Kind'] == "Parrot") & (pets['Gender'] == "female"), pets.Age.fillna(value=mean_age['Parrot']['female']), pets.Age)

In [414]:
pets

      PetID         Name    Kind  Gender        Age  OwnerID
0   J6-8562      Blackie     Dog    male  11.000000     5168
1   Q0-2001       Roomba     Cat    male   9.000000     5508
2   M0-2904        Simba     Cat    male   1.000000     3086
3   R3-7551       Keller  Parrot  female   2.000000     7908
4   P2-7342      Cuddles     Dog    male  13.000000     4378
5   X0-8765      Vuitton  Parrot  female  11.000000     7581
6   Z4-5652        Priya     Cat  female   7.000000     7343
7   Z4-4045        Simba     Cat    male   8.333333     2700
8   M8-7852       Cookie     Cat  female   8.000000     7606
9   J2-3320   Heisenberg     Dog    male   3.000000     1319
10  T2-2142        Stowe     Cat  female  15.000000     1132
11  U4-9376        Scout     Dog  female   6.470588     7846
12  H8-1429         Lily     Dog  female   6.470588     7846
13  H8-1429         Lily     Dog  female   3.000000     7846
14  H8-1429         Lily     Dog  female   3.000000     7846
15  X8-9212       Danger     Dog    male   7.535714     3661
16  G4-8096       Danger     Dog    male   9.000000     9037
17  G4-8096       Danger     Dog    male   9.000000     9037
18  S4-9578      Scooter     Dog    male   9.000000     9850
19  H8-8856       Bandit  Parrot    male   6.400000     6102
20  F6-5391       Cookie     Cat  female   7.800000     5508
21  J0-7893     Crockett     Dog    male  12.000000     1334
22  Q0-3593       Oakley  Parrot  female   4.000000     4989
23  O8-2501       Bandit  Parrot    male   5.000000     1899
24  T0-5705      Biscuit     Dog  female   5.000000     5833
25  Q5-5872          Taz     Dog    male   7.535714     2103
26  Z6-3226        Simba     Cat    male  11.000000     4793
27  U4-5113        Tiger     Cat    male  12.000000     7772
28  X8-8611  Schwarzkopf     Dog    male   4.000000     6731
29  P0-1725         Lily     Dog  female   6.470588     2419
..      ...          ...     ...     ...        ...      ...
25  T0-3277      Humbert     Cat    male   8.333333     8133
26  V5-2342         Jake     Dog    male   8.000000     9039
27  P9-3625      Cuddles     Dog    male  14.000000     7579
28  H2-8586     Antigone     Cat  female   8.000000     7663
29  P7-2443        Rumba     Cat    male  10.000000     7219
30  G6-6501         Jake     Cat    male   2.000000     3089
31  K4-5012      Natacha  Parrot    male  11.000000     2755
32  J2-4382       Dexter  Parrot    male   6.400000     7261
33  G9-0817        Kashi     Cat    male   5.000000     2722
34  K0-8177        Bruce     Dog    male  12.000000     2809
35  U2-7207        Daisy     Dog  female   6.000000     7023
36  S4-2254       Draper     Cat    male   8.333333     8619
37  P1-2578        Tiger     Cat    male  14.000000     3034
38  V7-6771        Daisy     Dog  female   6.470588     3245
39  Q8-3145       Peanut     Dog    male  13.000000     5796
40  L4-4205        Rumba     Cat    male   5.000000     1312
41  S4-1063        Bruce     Dog    male   0.000000     3691
42  L2-1834     Collette     Dog  female   4.000000     1306
43  L8-0046        Rumba     Cat    male   7.000000     9828
44  U6-4890      Blackie     Dog    male   6.000000     1546
45  X6-4876       Brandy     Cat  female   3.000000     6406
46  X6-4876       Brandy     Cat  female   7.800000     6406
47  X6-4876       Brandy     Cat  female   3.000000     6406
48  F1-1855       Bandit  Parrot    male   2.000000     9604
49  Z8-4419      Scooter     Dog    male   3.000000     4464
50  U8-6473      Biscuit     Dog    male   3.000000     1070
51  I5-4893       Cookie     Cat  female   7.800000     7340
52  Q8-0954      Lakshmi     Cat  female   7.000000     9385
53  N0-9539      Swiffer     Cat    male  14.000000     9365
54  S5-5938          Taz     Dog    male   6.000000     9427

[105 rows x 6 columns]

In [407]:
pets_owner = pd.merge(owners,pets,how='inner',on='OwnerID')

In [410]:
# pets_owner.head(3)
print(pets_owner.isnull().sum())

OwnerID    0
Name_x     0
Surname    0
State      0
ZipCode    0
PetID      0
Name_y     0
Kind       0
Gender     0
Age        0
dtype: int64

In [412]:
# len(pets_owner.PetID.unique())
# len(pets_owner)
# pets.duplicated(subset=['PetID']).sum()
pets_owner = pets_owner.drop_duplicates()
# len(pets_owner.PetID.unique())

In [413]:
pets_owner.shape

(102, 10)

In [417]:
#rata2 dog
pets_owner.groupby(['Kind'])['Age'].mean()['Dog']

7.1846566212691965

In [420]:
#rata2 dog per gender
pets_owner.groupby(['Kind', 'Gender'])['Age'].count()['Dog']

Gender
female    21
male      37
Name: Age, dtype: int64

In [421]:
#rata2 cat
pets_owner.groupby(['Kind'])['Age'].mean()['Cat']

8.266666666666667

In [422]:
#rata2 cat per gender
pets_owner.groupby(['Kind', 'Gender'])['Age'].count()['Cat']

Gender
female    13
male      19
Name: Age, dtype: int64

In [481]:
#rata2 parrot
pets_owner.groupby(['Kind', 'Gender'])['Age'].count()['Parrot']

Gender
female    5
male      7
Name: Age, dtype: int64

In [456]:
# Max
pets_owner.groupby(['Kind'])['Age'].max()

Kind
Cat       15.0
Dog       15.0
Parrot    11.0
Name: Age, dtype: float64

In [458]:
# Top 5 
cat = pets_owner[pets_owner.Kind == "Cat"].groupby('Age').count()
cat = cat.sort_values(by=['PetID'], ascending=False)['PetID']
cat.head(5)

Age
7.800000    4
8.333333    4
6.000000    3
7.000000    3
8.000000    3
Name: PetID, dtype: int64

In [461]:
# Top 5 
pets_owner[pets_owner.Kind == "Cat"].sort_values(by=['Age'], ascending=False).head(5)

,OwnerID,Name_x,Surname,State,ZipCode,PetID,Name_y,Kind,Gender,Age
16,1132,Rosa,Quarles,MI,48034,T2-2142,Stowe,Cat,female,15.0
68,6102,Robert,Partridge,MI,49855,W8-5750,Simba,Cat,male,15.0
59,9365,Bruce,Tatum,MI,48150,N0-9539,Swiffer,Cat,male,14.0
44,3034,Paul,Haring,MI,48034,P1-2578,Tiger,Cat,male,14.0
20,1202,Susan,Jackson,MI,48154,N7-6805,Enyo,Cat,female,12.0

In [452]:
# Binatang terbanyak
pets_owner.groupby(['Kind']).count().sort_values(by=['PetID'], ascending=False)['PetID'].head(1)

Kind
Dog    58
Name: PetID, dtype: int64

In [455]:
# Rata2 umur parrot
pets_owner.groupby(['Kind']).mean()['Age']['Parrot']

6.233333333333333

In [468]:
# Owner yang punya lebih dari 3
pets_owner.groupby('OwnerID').count().sort_values(by=['PetID'], ascending=False)['PetID']

OwnerID
3089    3
7846    3
8133    3
5508    3
6102    2
6406    2
7484    2
9850    2
1306    2
6157    1
6194    1
7393    1
7359    1
7343    1
7340    1
7261    1
7219    1
7101    1
7085    1
7023    1
7579    1
6731    1
6049    1
6405    1
6923    1
1070    1
7581    1
5806    1
9828    1
9614    1
       ..
1899    1
1766    1
1653    1
1546    1
1334    1
1319    1
1312    1
1202    1
3034    1
3086    1
3245    1
3518    1
5502    1
5447    1
5215    1
5207    1
5168    1
4989    1
4793    1
4464    1
4408    1
4378    1
4185    1
4110    1
3691    1
3663    1
3661    1
3644    1
3615    1
9900    1
Name: PetID, Length: 89, dtype: int64

In [472]:
# pt owner yang memiliki anjing lebih dari 10 thn
pets_owner[(pets_owner.Kind == "Dog") & (pets_owner.Age > 10)]['Name_x']

37       Doris
42      Denise
43         Tom
47       Larry
50       Jason
82         Lee
87       Bruce
93     Ricardo
95      George
97      Robert
103       Gary
Name: Name_x, dtype: object

In [480]:
# selisih umur cat male dan female
pets_owner.groupby(['Kind', 'Gender'])['Age'].mean()['Cat']['male'] - pets_owner.groupby(['Kind', 'Gender'])['Age'].mean()['Cat']['female']

0.1641025641025653

In [477]:
#dog tua - rata2
pets_owner.groupby(['Kind'])['Age'].max()['Dog'] - pets_owner.groupby(['Kind'])['Age'].mean()['Dog']

7.8153433787308035