In [82]:
import pandas as pd
import numpy as np
from scipy import stats
from matplotlib import pyplot as plt
import statsmodels.api as sm
import seaborn as sns
import pandas as pd
import numpy as np
from collections import OrderedDict
from sklearn.metrics import confusion_matrix, classification_report
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import confusion_matrix, accuracy_score
import math
import statsmodels.formula.api as smf

In [56]:
data = pd.read_csv("victoria.csv",index_col=0)
data.head()

,totalprice,area,zone,category,age,floor,rooms,out,conservation,toilets,garage,elevator,streetcategory,heating,tras
row.labels,,,,,,,,,,,,,,,
1,228000,7530999756,Z45,4B,33,3,5,E100,2B,1,0,1,S3,3A,0
2,409000,1006500015,Z31,3B,5,7,5,E50,1A,2,1,1,S5,4A,1
3,200000,8887000275,Z52,3A,14,8,5,E50,1A,2,0,1,S2,3A,0
4,180000,6261000061,Z62,4A,41,3,4,E50,2A,1,0,0,S3,1A,0
5,443600,1461499939,Z31,3A,22,6,7,E100,1A,2,0,1,S4,4A,1

In [57]:
# print(data['zone'].value_counts())
print(data['zone'].unique())
print(data['category'].unique())
print(data['out'].unique())
print(data['streetcategory'].unique())
print(data['heating'].unique())
print(data['tras'].unique())

['Z45' 'Z31' 'Z52' 'Z62' 'Z11' 'Z47' 'Z48' 'Z37' 'Z21' 'Z36' 'Z61' 'Z46'
 'Z43' 'Z56' 'Z44' 'Z53' 'Z32' 'Z41' 'Z42' 'Z35' 'Z34' 'Z49' 'Z38']
['4B' '3B' '3A' '4A' '2B' '2A' '5A']
['E100' 'E50' 'E25' 'E75']
['S3' 'S5' 'S2' 'S4']
['3A' '4A' '1A' '3B']
[0 1 2]

In [24]:
# print(data.isnull().sum())

In [23]:
# data.dtypes

In [58]:
data['totalprice'] = data['totalprice'].apply(lambda x:x.replace(',','.'))
data['area'] = data['area'].apply(lambda x:x.replace(',','.'))
data['totalprice']=data['totalprice'].astype(float)
data['area']=data['area'].astype(float)
data.head()

,totalprice,area,zone,category,age,floor,rooms,out,conservation,toilets,garage,elevator,streetcategory,heating,tras
row.labels,,,,,,,,,,,,,,,
1,228000.0,7.531000e+09,Z45,4B,33,3,5,E100,2B,1,0,1,S3,3A,0
2,409000.0,1.006500e+09,Z31,3B,5,7,5,E50,1A,2,1,1,S5,4A,1
3,200000.0,8.887000e+09,Z52,3A,14,8,5,E50,1A,2,0,1,S2,3A,0
4,180000.0,6.261000e+09,Z62,4A,41,3,4,E50,2A,1,0,0,S3,1A,0
5,443600.0,1.461500e+09,Z31,3A,22,6,7,E100,1A,2,0,1,S4,4A,1

In [22]:
# data.dtypes

In [38]:
data.shape

(218, 15)

In [59]:
data1 = data.select_dtypes(include=['object'])
data2 = data.select_dtypes(exclude=['object'])

In [60]:
data1.head()

           zone category   out conservation streetcategory heating
row.labels
1           Z45       4B  E100           2B             S3      3A
2           Z31       3B   E50           1A             S5      4A
3           Z52       3A   E50           1A             S2      3A
4           Z62       4A   E50           2A             S3      1A
5           Z31       3A  E100           1A             S4      4A

In [61]:
data2.head()

,totalprice,area,age,floor,rooms,toilets,garage,elevator,tras
row.labels,,,,,,,,,
1,228000.0,7.531000e+09,33,3,5,1,0,1,0
2,409000.0,1.006500e+09,5,7,5,2,1,1,1
3,200000.0,8.887000e+09,14,8,5,2,0,1,0
4,180000.0,6.261000e+09,41,3,4,1,0,0,0
5,443600.0,1.461500e+09,22,6,7,2,0,1,1

In [63]:
data_dum = pd.get_dummies(data1, columns=data1.columns, drop_first=True)
data_dum.head()

,zone_Z21,zone_Z31,zone_Z32,zone_Z34,zone_Z35,zone_Z36,zone_Z37,zone_Z38,zone_Z41,zone_Z42,...,out_E75,conservation_2A,conservation_2B,conservation_3A,streetcategory_S3,streetcategory_S4,streetcategory_S5,heating_3A,heating_3B,heating_4A
row.labels,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
5,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [65]:
df = pd.concat([data_dum,data2],1)
df.head()

,zone_Z21,zone_Z31,zone_Z32,zone_Z34,zone_Z35,zone_Z36,zone_Z37,zone_Z38,zone_Z41,zone_Z42,...,heating_4A,totalprice,area,age,floor,rooms,toilets,garage,elevator,tras
row.labels,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,228000.0,7.531000e+09,33,3,5,1,0,1,0
2,0,1,0,0,0,0,0,0,0,0,...,1,409000.0,1.006500e+09,5,7,5,2,1,1,1
3,0,0,0,0,0,0,0,0,0,0,...,0,200000.0,8.887000e+09,14,8,5,2,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,180000.0,6.261000e+09,41,3,4,1,0,0,0
5,0,1,0,0,0,0,0,0,0,0,...,1,443600.0,1.461500e+09,22,6,7,2,0,1,1

In [66]:
x = df.drop(['totalprice'],1)
y = df['totalprice']
train_x , test_x, train_y, test_y = train_test_split(x,y, test_size=0.2,random_state=123)

In [67]:
print(train_x.shape)
print(train_y.shape)

(174, 48)
(174,)

In [68]:
# x = train_x
# y = train_y
# train_x2 , val_x, train_y2, val_y = train_test_split(x,y, test_size=0.2,random_state=123)

In [69]:
print(train_x2.shape)
print(train_y2.shape)

(139, 48)
(139,)

In [91]:
train = pd.concat([train_x,train_y],1)
train.shape

(174, 49)

### Decision Tree Regressor

In [77]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz, DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

In [78]:
dt = DecisionTreeRegressor(random_state=123, min_samples_split=100, min_samples_leaf=10)
dt.fit(train_x2,train_y2)
dtpred = dt.predict(val_x)

In [79]:
print(dt.score(val_x,val_y))

0.41791719022703455

### Regression Linear

In [92]:
lm = smf.ols(formula='totalprice~area+age+floor+rooms+toilets+garage+elevator+tras+zone_Z21+zone_Z31+zone_Z32+zone_Z34+zone_Z35+zone_Z36+zone_Z37+zone_Z38 +zone_Z41+zone_Z42+zone_Z43+zone_Z44+zone_Z45+zone_Z46+zone_Z47+zone_Z48+zone_Z49+zone_Z52+zone_Z53+zone_Z56+zone_Z61+zone_Z62+category_2B+category_3A+category_3B+category_4A+category_4B+category_5A+out_E25+out_E50+out_E75+conservation_2A+conservation_2B+conservation_3A+streetcategory_S3+streetcategory_S4+streetcategory_S5+heating_3A+heating_3B+heating_4A', data=train).fit()
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             totalprice   R-squared:                       0.883
Model:                            OLS   Adj. R-squared:                  0.839
Method:                 Least Squares   F-statistic:                     19.73
Date:                Thu, 21 Jun 2018   Prob (F-statistic):           1.13e-39
Time:                        13:53:59   Log-Likelihood:                -2000.5
No. Observations:                 174   AIC:                             4099.
Df Residuals:                     125   BIC:                             4254.
Df Model:                          48
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept          1.346e+05   4.68e+04      2.876      0.005     4.2e+04    2.27e+05
area              -1.941e-06   8.01e-07     -2.422      0.017   -3.53e-06   -3.55e-07
age                  83.3227    256.570      0.325      0.746    -424.461     591.106
floor              -895.4896   1259.112     -0.711      0.478   -3387.429    1596.450
rooms              2.057e+04   4717.222      4.361      0.000    1.12e+04    2.99e+04
toilets            3.261e+04   7709.198      4.229      0.000    1.73e+04    4.79e+04
garage             2.826e+04   6421.545      4.400      0.000    1.55e+04     4.1e+04
elevator           2.899e+04   8206.660      3.532      0.001    1.27e+04    4.52e+04
tras               1.202e+04   6512.403      1.846      0.067    -867.193    2.49e+04
zone_Z21           9.703e+04   2.09e+04      4.639      0.000    5.56e+04    1.38e+05
zone_Z31           6.983e+04   2.15e+04      3.253      0.001    2.73e+04    1.12e+05
zone_Z32           2.127e+04   2.02e+04      1.051      0.295   -1.88e+04    6.13e+04
zone_Z34           -591.9535   2.49e+04     -0.024      0.981      -5e+04    4.88e+04
zone_Z35           3.031e+04   2.62e+04      1.155      0.250   -2.16e+04    8.22e+04
zone_Z36           1.616e+04   1.96e+04      0.824      0.412   -2.27e+04     5.5e+04
zone_Z37           6.859e+04   2.07e+04      3.312      0.001    2.76e+04     1.1e+05
zone_Z38            2.18e+04   2.38e+04      0.918      0.361   -2.52e+04    6.88e+04
zone_Z41           2.767e+04   1.97e+04      1.404      0.163   -1.13e+04    6.67e+04
zone_Z42           9.348e+04   2.42e+04      3.860      0.000    4.56e+04    1.41e+05
zone_Z43           2.005e+04   2.58e+04      0.778      0.438    -3.1e+04    7.11e+04
zone_Z44           9737.0925   2.23e+04      0.437      0.663   -3.44e+04    5.38e+04
zone_Z45           -401.8614   2.12e+04     -0.019      0.985   -4.24e+04    4.16e+04
zone_Z46          -1.019e+04   2.31e+04     -0.441      0.660    -5.6e+04    3.56e+04
zone_Z47          -3.782e+04   2.23e+04     -1.695      0.093    -8.2e+04    6338.986
zone_Z48           3.108e+04   2.36e+04      1.314      0.191   -1.57e+04    7.79e+04
zone_Z49           7376.4690   2.38e+04      0.310      0.757   -3.97e+04    5.44e+04
zone_Z52           -1.04e+04   2.16e+04     -0.481      0.631   -5.32e+04    3.24e+04
zone_Z53           1.788e+04   2.23e+04      0.800      0.425   -2.63e+04    6.21e+04
zone_Z56           1.893e+04   2.39e+04      0.794      0.429   -2.83e+04    6.61e+04
zone_Z61           3972.9371    1.9e+04      0.209      0.835   -3.36e+04    4.16e+04
zone_Z62          -5442.1204   2.03e+04     -0.268      0.789   -4.56e+04    3.47e+04
category_2B        7745.1467   2.51e+04      0.308      0.758    -4.2e+04    5.75e+04
category_3A       -2.319e+04    2.5e+04     -0.927      0.356   -7.27e+04    2.63e+04
category_3B       -3.088e+04   2.61e+04     -1.182      0.239   -8.26e+04    2.08e+04
category_4A       -2.723e+04   2.66e+04     -1.024      0.308   -7.99e+04    2.54e+04
category_4B       -4.918e+04   2.78e+04     -1.771      0.079   -1.04e+05    5793.529
category_5A       -6.229e+04   5.26e+04     -1.184      0.239   -1.66e+05    4.18e+04
out_E25            1.069e+04   3.41e+04      0.313      0.755   -5.69e+04    7.82e+04
out_E50           -4667.6623   5658.931     -0.825      0.411   -1.59e+04    6532.064
out_E75            1.824e+04    1.7e+04      1.074      0.285   -1.54e+04    5.19e+04
conservation_2A   -5610.3792   1.07e+04     -0.524      0.601   -2.68e+04    1.56e+04
conservation_2B   -1745.3917   8696.409     -0.201      0.841    -1.9e+04    1.55e+04
conservation_3A   -1.928e+04   2.32e+04     -0.829      0.409   -6.53e+04    2.67e+04
streetcategory_S3  6572.0643   8484.585      0.775      0.440   -1.02e+04    2.34e+04
streetcategory_S4  1.287e+04   9056.195      1.422      0.158   -5049.512    3.08e+04
streetcategory_S5  7561.7122   1.41e+04      0.535      0.594   -2.04e+04    3.56e+04
heating_3A        -2.944e+04   2.38e+04     -1.237      0.218   -7.65e+04    1.77e+04
heating_3B        -1.021e+04   2.84e+04     -0.359      0.720   -6.64e+04     4.6e+04
heating_4A        -8452.5342   2.49e+04     -0.339      0.735   -5.78e+04    4.09e+04
==============================================================================
Omnibus:                       14.223   Durbin-Watson:                   1.979
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               31.391
Skew:                           0.303   Prob(JB):                     1.53e-07
Kurtosis:                       4.991   Cond. No.                     2.89e+11
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.89e+11. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

### Stepwise Selection

In [93]:
import statsmodels.api as sm
def stepwise_selection(X, y, 
                       initial_list=[], 
                       threshold_in=0.01, 
                       threshold_out = 0.05, 
                       verbose=True):
    """ Perform a forward-backward feature selection 
    based on p-value from statsmodels.api.OLS
    Arguments:
        X - pandas.DataFrame with candidate features
        y - list-like with the target
        initial_list - list of features to start with (column names of X)
        threshold_in - include a feature if its p-value < threshold_in
        threshold_out - exclude a feature if its p-value > threshold_out
        verbose - whether to print the sequence of inclusions and exclusions
    Returns: list of selected features 
    Always set threshold_in < threshold_out to avoid infinite looping.
    See https://en.wikipedia.org/wiki/Stepwise_regression for the details
    """
    included = list(initial_list)
    while True:
        changed=False
        # forward step
        excluded = list(set(X.columns)-set(included))
        new_pval = pd.Series(index=excluded)
        for new_column in excluded:
            model = sm.OLS(y, sm.add_constant(pd.DataFrame(X[included+[new_column]]))).fit()
            new_pval[new_column] = model.pvalues[new_column]
        best_pval = new_pval.min()
        if best_pval < threshold_in:
            best_feature = new_pval.argmin()
            included.append(best_feature)
            changed=True
            if verbose:
                print('Add  {:30} with p-value {:.6}'.format(best_feature, best_pval))

        # backward step
        model = sm.OLS(y, sm.add_constant(pd.DataFrame(X[included]))).fit()
        # use all coefs except intercept
        pvalues = model.pvalues.iloc[1:]
        worst_pval = pvalues.max() # null if pvalues is empty
        if worst_pval > threshold_out:
            changed=True
            worst_feature = pvalues.argmax()
            included.remove(worst_feature)
            if verbose:
                print('Drop {:30} with p-value {:.6}'.format(worst_feature, worst_pval))
        if not changed:
            break
    return included

In [94]:
koef = stepwise_selection(x,y)
print(koef)

C:\Users\petron059243\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:31: FutureWarning: 'argmin' is deprecated. Use 'idxmin' instead. The behavior of 'argmin' will be corrected to return the positional minimum in the future. Use 'series.values.argmin' to get the position of the minimum now.

Add  toilets                        with p-value 3.36937e-27
Add  garage                         with p-value 1.92559e-06
Add  zone_Z21                       with p-value 7.33127e-07
Add  rooms                          with p-value 2.84417e-08
Add  zone_Z31                       with p-value 2.90397e-05
Add  zone_Z42                       with p-value 1.21558e-05
Add  elevator                       with p-value 0.000465141
Add  zone_Z37                       with p-value 4.69328e-05
Add  category_2B                    with p-value 0.000613793
Add  zone_Z41                       with p-value 0.00128391
Add  area                           with p-value 0.000992119
['toilets', 'garage', 'zone_Z21', 'rooms', 'zone_Z31', 'zone_Z42', 'elevator', 'zone_Z37', 'category_2B', 'zone_Z41', 'area']

In [87]:
x1 = train[koef]
x2 = x1.drop(['toilets','rooms'],axis=1)

In [95]:
lm1 = smf.ols(formula='totalprice~toilets+garage+zone_Z21+rooms+zone_Z31+zone_Z42+elevator+zone_Z37+category_2B+zone_Z41+area', data=train).fit()
lm1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             totalprice   R-squared:                       0.824
Model:                            OLS   Adj. R-squared:                  0.812
Method:                 Least Squares   F-statistic:                     68.96
Date:                Thu, 21 Jun 2018   Prob (F-statistic):           2.76e-55
Time:                        13:54:23   Log-Likelihood:                -2036.3
No. Observations:                 174   AIC:                             4097.
Df Residuals:                     162   BIC:                             4135.
Df Model:                          11
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept    8.823e+04   2.07e+04      4.268      0.000    4.74e+04    1.29e+05
toilets      3.763e+04   6343.624      5.931      0.000    2.51e+04    5.02e+04
garage       3.252e+04   6052.847      5.373      0.000    2.06e+04    4.45e+04
zone_Z21     9.651e+04    1.2e+04      8.049      0.000    7.28e+04     1.2e+05
rooms        2.027e+04   4455.141      4.551      0.000    1.15e+04    2.91e+04
zone_Z31      7.27e+04   1.23e+04      5.919      0.000    4.84e+04     9.7e+04
zone_Z42     8.525e+04   1.48e+04      5.749      0.000     5.6e+04    1.15e+05
elevator     3.642e+04   6639.071      5.486      0.000    2.33e+04    4.95e+04
zone_Z37     5.729e+04   1.12e+04      5.103      0.000    3.51e+04    7.95e+04
category_2B   3.37e+04   9638.821      3.496      0.001    1.47e+04    5.27e+04
zone_Z41     3.049e+04   8538.841      3.571      0.000    1.36e+04    4.74e+04
area        -2.534e-06   7.55e-07     -3.354      0.001   -4.03e-06   -1.04e-06
==============================================================================
Omnibus:                        0.767   Durbin-Watson:                   2.088
Prob(Omnibus):                  0.681   Jarque-Bera (JB):                0.429
Skew:                           0.033   Prob(JB):                        0.807
Kurtosis:                       3.234   Cond. No.                     6.19e+10
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.19e+10. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [96]:
y_pred_train = lm.predict(train_x)
y_pred_test = lm.predict(test_x)

In [97]:
train_pred_df = pd.DataFrame ({'actual':train_y,
                              'predicted':y_pred_train,
                              'residual':train_y - y_pred_train})

In [98]:
train_pred_df[0:10]

              actual      predicted      residual
row.labels
178         295000.0  324074.134441 -29074.134441
131         347000.0  348857.321653  -1857.321653
108         240500.0  229829.782210  10670.217790
126         245700.0  258270.355922 -12570.355922
53          168000.0  185491.499854 -17491.499854
161         410000.0  398834.249723  11165.750277
150         293000.0  277765.009219  15234.990781
109         273000.0  263654.180930   9345.819070
145         253500.0  289129.663626 -35629.663626
193         223200.0  232563.368042  -9363.368042

In [99]:
test_pred_df = pd.DataFrame ({'actual':test_y,
                              'predicted':y_pred_test,
                              'residual':test_y - y_pred_test})

In [101]:
from sklearn import metrics

In [102]:
# root mean square error
rmse_train = np.sqrt(metrics.mean_squared_error(train_y,y_pred_train))
rmse_train

23819.98795618674

In [104]:
rmse_test = np.sqrt(metrics.mean_squared_error(test_y,y_pred_test))
rmse_test

31769.948238133795

In [105]:
metrics.r2_score (train_y, y_pred_train)

0.8834196686447342

In [106]:
metrics.r2_score (test_y, y_pred_test)

0.7714696280488731

In [109]:
from statsmodels.stats import diagnostic
diagnostic.acorr_ljungbox(lm1.resid,lags=1)

(array([0.39822797]), array([0.52800583]))

In [110]:
import statsmodels.stats.api as sms
from statsmodels.compat import lzip
test = sms.het_goldfeldquandt(lm1.resid,lm1.model.exog)
test

(1.2459943452058975, 0.17150826607603611, 'increasing')